/* Coolors Exported Palette - coolors.co/721817-d5a021-f9ebe0-2e5077-ead94c */

/* HSL */
$color1: hsla(1%, 66%, 27%, 1);
$color2: hsla(42%, 73%, 48%, 1);
$color3: hsla(26%, 68%, 93%, 1);
$color4: hsla(212%, 44%, 32%, 1);
$color5: hsla(54%, 79%, 61%, 1);

/* RGB */
$color1: rgba(114, 24, 23, 1);
$color2: rgba(213, 160, 33, 1);
$color3: rgba(249, 235, 224, 1);
$color4: rgba(46, 80, 119, 1);
$color5: rgba(234, 217, 76, 1);
