<div class="header" *ngIf="loginService.user">
  logged in as:
  <p class="user">{{ loginService.user }}</p>
  (
  <p class="link" (click)="logout()">logout</p>
  )
</div>
<div class="container">
  <div class="col-12 logo-header" #ot>
    <h1>
      <img [src]="'assets/images/logoR.png'" />
      ProTime-R3
    </h1>
  </div>
  <div class="col-12">
    <div class="menu" *ngIf="!smallScreen">
      <p-tabMenu [model]="items"></p-tabMenu>
    </div>
    <div class="menu-burger" *ngIf="smallScreen">
      <button #btn type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
      <p-tieredMenu #menu [model]="items" [popup]="true" [appendTo]="ot"></p-tieredMenu>
    </div>
  </div>
  <div class="col-12">
    <div class="root">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<p-toast></p-toast>
