@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.lgbtn {
  ::ng-deep {
    button:disabled {
      .pi {
        animation: rotation 2s infinite linear;
      }
    }
    .ui-button {
      padding-left: 20em;
      padding-right: 2em;
    }
  }
}
